.container
  %table.table.table-bordered 
    %tbody
      %tr
        %th
          現在のターン
        %td
          = @current_turn
      %tr
        %th
          最後の数字
        %td
          = @in_game_outputs.last || '-'
      %tr
        %th
          ストップ者数　
        %td
          = @folded_cards.size

  %table.table.table-bordered 
    %thead
      %tr
        %th 一の位
        %th 開いた?
        %th 残存数
        %th 出現確率
    %tbody
      - @last_digits.each do |ld|
        %tr{ class: (ld.already_hit ? "bg-danger" : "")}
          %th
            = ld.number
          %td
            = ld.already_hit ? "yes" : "no"
          %td
            = ld.matching_remainnings_count
          %td
            = number_to_percentage ld.hit_probability * 100, precision: 2
    %tfoot
      %tr
        %th
          合計
        %td
          = @remaining_numbers.size
        %td
          = number_to_percentage 100, precision: 2

  %table.table.table-bordered 
    %tbody
      %tr
        %th
          除外された数字
        %td{ style: "word-break: break-all"}
          = @excluded_outputs.join(",")
      %tr
        %th
          出た数字
        %td{ style: "word-break: break-all"}
          = @in_game_outputs.join(",")


  %table.table.table-bordered 
    %thead
      %tr
        %th カード番号
        %th 開いたマス
        %th ストップターン
    %tbody
      - @folded_cards[0 .. 9].each do |c|
        %tr
          %td
            = c.id
          %td
            = c.open_count
          %td
            = c.folded_turn

  %h4 ルール
  %ol
    %li 1 ~ 75の数字から30個取り除く。これらの数字はゲームで使用しない
    %li ランダムに数字が指定される。各プレイヤーは指定された数字と一の位が等しいマスをすべて開ける
    %li 縦横斜め、いずれか一列が全て開けられたプレイヤーは失格となり、一切の商品受け取り資格を失う(バースト)
    %li バーストしなかったプレイヤーはストップを宣言し、カードを進行役に提出することができる。ストップを宣言したプレイヤーはこれ以上カードのマスを開けない
    %li ストップしたプレイヤーはカード提出する際に中央のfreeマスを空けても良い(それによってバーストしない限り)
    %li 全てのプレイヤーがバースト or ストップするまで2 ~ 4の手順を繰り返す。
    %li ストップしたプレイヤーは参加賞(quoカード500円)を手に入れる。
    %li 多くのマスを開けたプレイヤー6名は上位賞を手に入れる。開いたマスの数が等しい場合は、ストップが遅かったほうを上位とする
  %p= link_to "このルールはアンチビンゴを参考にして作られました", "http://www.twtimez.net/history/history1105437077070479360.html"
  
  %h4 上位賞(順不同)
  %ul
    %li ニンテンドークラシックミニ スーパーファミコン
    %li Google Home Mini
    %li ライオンズ vs ホークス 野球観戦チケット4枚(9/1(日))
    %li 一休.com レストランペアチケット
    %li タニタ組成計とプロテイン
    %li ラグビーW杯応援グッズ(Tシャツ+ タオルマフラー)
  %h4 最後まで残ってたで賞(複数いたら山分け)
  %ul
    %li 参加賞の余り(Quoカード最大25000円分)
